@page "/search"
@using ASPNET_BLAZOR.data
@using ASPNET_BLAZOR.Entities
@using Microsoft.EntityFrameworkCore
@inject MyDbContext Context
@rendermode InteractiveServer

<PageTitle>Search</PageTitle>

<h1>Search</h1>
<p>Search for a student by name</p>
<form @onsubmit="SearchStudents">
    <input type="search" id="search" name="search" @bind="_searchedName" placeholder="Student name"/>
</form>

@if (_studentList.Count == 0)
{
    <p style="color: red">No students found</p>
}
else
{
    <p style="color: blue">Found @_studentList.Count students</p>
}
<ul>
    @foreach (var student in _studentList)
    {
        <li>@student.Name - @student.Age</li>
    }
</ul>

@code {
    private List<Student> _studentList = [];

    private string _searchedName = "";

    private async Task SearchStudents()
    {
        var name = _searchedName;
        if (name.Length == 0)
        {
            Console.WriteLine("Empty search string");
            _studentList = [];
            return;
        }

        Console.WriteLine("SearchStudents() called with name: " + name);
        _studentList = await Context.Students
            .Where(s => s.Name.Contains(name))
            .ToListAsync();
    }

}